/* Reset e estilo base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  padding: 16px;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  color: #000000;
  text-align: center; 
  width: 100%; 
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 14px;
  font-size: 16px; 
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  background-color: #acacac21;
  outline: none;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 17px;
  background: linear-gradient(180deg, #000000, #494949fd);
  color: white;
  border: none;
  border-radius: 10px;
}
.delete-all-btn {
  background:linear-gradient(180deg, #ff3737, #ff4444c5);
  color: white;
  border: none;
  border-radius: 10px;
}


.button-grupo {
  display: flex;
  gap: 30px; 
  margin-bottom: 10px; 
}
.data-actions {
  margin-bottom: 20px; 
}
#product-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#product-form .button-group {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

#product-form .button-group button {
  flex: 1;
}

#product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000;

}

.product-card {
  position: relative; 
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgb(46, 46, 46);
}

.action-container {
  position: absolute;
  top: 45px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.edit-btn {
  border-radius: 10px;
  padding: 4px 7px 4px 6px;
  font-size: 12px;
  gap: 4px;
  background: linear-gradient(180deg, #000000, #616161fd);
}
.ftr{
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #ffffffb4; 
}
.ftr.hidden-ftr {
  transform: translateY(100%); /* Empurra o footer todo para baixo da tela */
}

.delete-btn {
  border-radius: 10px;
  padding: 4px 7px 4px 6px;
  font-size: 12px;
  background:linear-gradient(180deg, #ff3737, #ff4444c5);
}

#message {
  padding: 12px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #19973f86;
  text-align: center;
  margin-bottom: 12px;
  display: none; 

}

.modal {
  display: none ; 
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal.hidden {
  display: none 
}
.modal:not(.hidden) {
  display: flex;
}
#edit-form, #user-modal .modal-content {
  display: flex;
  flex-direction: column; 
  text-align: left;       
}
.modal-content label {
  font-size: 17px;
  color: #000000;           
}
.modal-content input {
  width: 100%;            
  padding: 12px;
  margin-bottom: 20px;    
  border: 1px solid #8b8b8b; 
  border-radius: 10px;    
  font-size: 16px;
  outline: none;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 95%;
  text-align: center;
}
.modal-content, h2 {
color: #000000;
text-align: center;
margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  width: 45%;
  font-size: 16px;
  padding: 12px;
}



